<a  ui-sref="signIn">Sign in</a><span> | </span><a ng-click="hidden = true" ui-sref="presence">Who's here</a>
<div hide="hidden">
<h1>Please sign in</h1>
  <p ng-repeat="item in students">
  {{ item.name }}
    <button ng-click="addStudentPresence(item)" type="submit" class="btn btn-default btn-small">Sign in</button>
    <button ng-click="removeStudentPresence(item)" ng-click="hidden = true" ui-sref="signIn" type="submit" class="btn btn-warning btn-small">Sign out</button>
</p>
</div>
<div ui-view></div>
