  <div class="well well-lg">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Welcome</h1>
        <p>Good job you got out of bed<p>
        <form class="form-inline" role="form">
          <button ui-sref="signIn" type="submit" class="btn btn-success btn-lg"><i class="fa fa-pencil-square-o"></i> Sign in</button>
          <button ui-sref="presence" type="submit" class="btn btn-info btn-lg"><i class="fa fa-user"></i> Who's here</button>
        </form>
    </div>
  </div>
</div>

<!-- <div ui-view></div> -->
